.App {
  text-align: center;
  margin:auto;
  background-color: rgb(88, 202, 236);
  width:50%
}
input{
  width:50%;
  height:50px;
  margin-bottom:20px;
  border-color: black;
  border-width:10px;
}
button{
  height:70px;
}
